/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
    /* background-image: url(contact_images.jpg); */
    background-size: 100%;
    color: #f4eeee;
}

/* Navigation Bar */
nav {
    background: #46c6eca2;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(17, 16, 16);
    text-decoration: none;
    font-size: 18px;
}

/* Sections */
section {
    padding: 100px 20px;
    text-align: center;

    min-height: 100vh;
}

#index {
    /* background: #5a5a77; */
    background-image: url(home\ image.webp);
    color: white;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;

}
.rb{
    align-content: center;
}


#photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Button Styling */
a.photo {
    display: inline-block;
    padding: 10px 20px;
    background: #ff9800;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

a.photo:hover {
    background: #e68900;
}

/* Contact Section */
#contact p {
    font-size: 18px;
    line-height: 1.5;
}
 #about{
    height: auto;
    background-image: url(contact_images.jpg);
} 
#photo{
    height: auto;
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* align-self: center;
    align-items: center; */
    align-content: center;
}
#Project{
    background-image: url(image.png);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
}
#contact{
    background-image: url(contact1.webp);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    align-content: center;
}
#about{
    background-image: url(aboutpages.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    align-content: center;
}
